*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
/*	display: inline-block;*/
}
.up{
	background-color: #0020F4;
	color: white;
	width: 1920px;
	height: 308px;
}
h3{
	width: 184px;
	height: 38px;
	padding-top: 70px;
	padding-left: 240px;
}
.img-Location{
	display: inline-block;
}
#first-img{
	width: 533px;
	display: inline-block;
	padding-left: 240px;
}
#second-img{
	width: 370px;
	display: inline-block;
	padding-left: 25px;
}

#third-img{
	width: 330px;
	display: inline-block;
	padding-left: 25px;
}
#forth-img{
	width: 290px;
	display: inline-block;
	padding-left: 20px;
}
#div-location{
}
h6{
	padding-left: 1000px;
	position: relative;
	top: 60px;
	left: 135px;
	font-size: 15px;
}
h6:before{
	content:"";
	display: inline-block;
	width: 1px;
	height: 15px;
	background-color: black;
	position: relative;
	left:-10px;
}